<div class='item-cont'>
    <h3>I am Odd!</h3>
        {% set regExp = r/.*\.biz$/g %}
        {% if regExp.test(item.email) %}
            <em>Email</em>: {{item.email}}
        {% else %}
            <em>Email</em>: {{'Not matched'}}
        {% endif %}
    <div class='address'>
        <h2>Address<h2>
        <ul>
            {% set city = item.address.city %}
            {%if (city == "Aliyaview" or city=="Howemouth" or city=="Gwenborough") %}
                <p>The zipcode and cityname <em>{{item.address.zipcode}}</em> is <em>{{item.address.city}}</em> with lat <em>{{item.address.geo.lat}}</em>  and long <em>{{item.address.geo.lng}}</em></p>
            {% else%}
                <li>street: {{item.address.street}}</li>
                <li>suite: {{item.address.suite}}</li>
                <li>city: {{item.address.city}}</li>
                <li>zipcode: {{item.address.zipcode}}</li>
            {% endif %}
            {{ item.company.catchPhrase | truncate(15) }}
        </ul>
    </div>
    <div class='catchphrase'>
        {{ item.company.catchPhrase | truncate(15) }}
    </div>
</div>